@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);

#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-brand__name a {
  font-size: 36px;
  font-family: 'Roboto Condensed', sans-serif;
}
#footer1-2 P {
  text-align: center;
  font-size: 13px;
}
#header4-3 P {
  text-align: center;
}
#header4-3 H1 {
  font-size: 36px;
}
#msg-box2-12 h2 {
  color: #252525;
}
#msg-box2-12 p {
  color: #252525;
}
#content5-11 .caption h3 {
  color: #fff;
  font-size: 25px;
}
#content5-11 P {
  color: #fff;
  text-align: center;
}

#ext_menu-6 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-6.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-6 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-6 .mbr-brand__name a {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 36px;
}
#features1-7 P {
  text-align: center;
}
#msg-box1-16 h2 {
  color: #fff;
}
#msg-box1-16 p {
  color: #fff;
}
#msg-box1-16 P {
  color: #999999;
  text-align: center;
}
#footer1-2 P {
  text-align: center;
  font-size: 13px;
}

#ext_menu-6 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-6.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-6 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-6 .mbr-brand__name a {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 36px;
}
#msg-box4-11 .mbr-header__text {
  color: #000000;
  text-align: left;
  font-size: 22px;
}
#msg-box4-11 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-11 .mbr-article {
  color: #ffffff;
}
#msg-box4-11 .mbr-article P {
  color: #7c706b;
}
#msg-box4-11 .mbr-header__text P {
  text-align: left;
}
#footer1-2 P {
  text-align: center;
  font-size: 13px;
}


#ext_menu-6 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-6.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-6 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-6 .mbr-brand__name a {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 36px;
}
#footer1-2 P {
  text-align: center;
  font-size: 13px;
}
#header3-17 H3 {
  text-align: left;
}
#header3-17 P {
  font-size: 14px;
}
#content1-24 P {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}



#ext_menu-6 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-6.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-6 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-6 .mbr-brand__name a {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 36px;
}
#header3-22 H3 {
  text-align: center;
}
#header3-22 SPAN {
  font-size: 60px;
  font-family: 'Indie Flower', cursive;
  color: #252525;
  text-align: center;
}
#header3-22 P {
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
}
#footer1-2 P {
  text-align: center;
  font-size: 13px;
}


#ext_menu-6 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-6.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-6 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-6 .mbr-brand__name a {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 36px;
}
#header3-37 H3 {
  font-family: 'Oswald', sans-serif;
}
#header3-37 P {
  font-size: 16px;
  color: #0c4380;
}
#content1-38 B {
  color: #000000;
}
#content1-42 P {
  color: #b8312f;
}


#ext_menu-42 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-42.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-42 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-42 .mbr-brand__name a {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 36px;
}
#header3-44 H3 {
  font-family: 'Oswald', sans-serif;
}
#header3-44 P {
  font-size: 16px;
  color: #0c4380;
}
#content1-45 B {
  color: #000000;
}
#content1-45 P {
  color: #777776;
  font-size: 17px;
}
#content1-48 P {
  color: #b8312f;
}


#ext_menu-48 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-48.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-48 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-48 .mbr-brand__name a {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 36px;
}
#header3-50 H3 {
  font-family: 'Oswald', sans-serif;
}
#header3-50 P {
  font-size: 16px;
  color: #0c4380;
}
#content1-51 B {
  color: #000000;
}
#content1-51 P {
  color: #777776;
  font-size: 17px;
}
#content1-53 P {
  color: #b8312f;
}
